<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Learning List App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is the about page for the app
    </p>
  </body>
</html>
