<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Learning List App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
    <p>
      this is where you will find help for probelms with the app
    </p>

  </body>
</html>
